# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/.vs
/src/HelloWorld/x64/Debug
/src/.vs/HelloWorld/v16
*.pdb
*.ilk
/src/Debug/GameEngineLib
/src/GameEngineLib/Debug
/src/HelloWorld/Debug
/src/.vs/HugEngine/v16
/src/Debug
/src/GameEngineLib/Release
/src/HelloWorld/Release
